
/*reset en css: se asegura que todo los  navegadores presenten que los archivos html se presenten bien.
 va a resetear ttodo parq ue se acomode*/
*{
    margin: 0;   
    padding: 0;   
    box-sizing: border-box;
}










/* modificacion de mi logo*/

.imglogo{
    width: 120px;
    height: auto;
    }
    
.barrasuperior{
 background-color: black;
 padding: 0px;
 margin: 0px;
 
 
 }

 .presentacion{
    background-color: aqua;
    display: grid;
    
    

 }

.menu ul{
   display: flex;
   justify-content:end ;
   gap: 20px;
   text-transform: capitalize;
   margin: 10px;
font-family: "Open Sans", sans-serif;

   }

   .accesorios{
    
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
    
  
   
   }

   .productosprincipal{
    display: flex;
    flex-direction: column;
     align-items: center;
  text-align: center;
   }

   .bloque-interno1{
   background-color: #cce5ff;
  padding: 15px;
  border: 1px solid #007bff;
  text-align: center;
  width: 150px;
  font-family: 'Open Sans', sans-serif;
    
    
   }

   .accesorios p{
   padding: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   
   
   
}
    
   
   main {
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /*funciona en contenedor padre*/
    
  }
  .auri{
    width: 150px;
    margin-top: 10px;
  
  }








/*de esta manera controlo las imagens de los celus*/
img{
    width: 100px;
    height: auto;

}

.bienvenida{
    display: grid;
    justify-content: center;
    
    
}

/*voy diferenciando cada h*/
h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-transform: capitalize;
text-decoration: underline;
font-style: italic;



}

/*los parrafos cuentas con el mismo estilo, salvo mas adelante que detallo*/
p{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
}

/*realizo un class de cuotas, para que tenga diferente estilo a los otros parrafos*/
.cuotas{
    font-size: 10px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform:capitalize ;
 }
 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: capitalize;
 }
  

 
 
 

 /*mismo caso para canales, con class lo diferencio del resto de los p*/
.canales{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
    font-style: oblique

}



.redes img{
    width: 30px;
}





.retorno{
    display: flex;
    
}


/*contacto*/


.dudas{
   display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    

}
 
.redes{
    display: block;
    border: 1px solid blue;
    background-color: aqua;
    padding: 10px;
    
}




  
 




