h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
}

.hotsale {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.459);
  padding: 6px;
  margin: 15px;
  border: 2px solid rgb(247, 99, 99);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fondo {
  background-color: rgb(235, 232, 228);
}

.logo {
  width: 12rem;
  height: 12rem;
}

.barra {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a p {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(245, 245, 205);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.navegacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.descripcion h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.descripcion p {
  font-family: "Open Sans", sans-serif;
}

main p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.presentacion {
  background-color: rgba(167, 223, 238, 0.4196078431);
  padding: 6px;
  margin: 15px;
  border: 2px solid #7dd7f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentacion h1 {
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
}

.presentacion p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}

.equipos {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  background-color: #eee9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, box-shadow 0.3s;
  border-radius: 10px;
}
.equipos:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.equipos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 370px) {
  .equipos {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .descripcion button {
    width: 100%;
  }
}
.equipos button {
  background-color: rgba(166, 240, 216, 0.315);
}

.celulares-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
}

.ofertas-productos {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  background-color: #eee9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, box-shadow 0.3s;
  border-radius: 10px;
}
.ofertas-productos:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ofertas-productos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 370px) {
  .ofertas-productos {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .descripcion button {
    width: 100%;
  }
}
.ofertas-productos button {
  background-color: rgb(169, 245, 220);
}

.ofertas-productos h3 {
  text-decoration: line-through;
  font-size: 1rem;
}

form label {
  text-decoration: underline;
  font-size: 1.5rem;
}

.ofertas-productos a {
  text-transform: capitalize;
}

.ofertas-productos h2 {
  text-transform: capitalize;
}

.nuevos {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  padding: 0.2;
  text-transform: capitalize;
  background-color: violet;
}

.anuncio {
  background-color: #d4f1f9;
  color: #333;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 15px 0;
  border: 2px solid #7dd7f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  gap: 15px;
  font-weight: bold;
}

.formulario p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  margin: 10px;
}

.formulario h2 {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
