@use "../utils/mixins" as *;

.celulares-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
 
}




.ofertas-productos {
  @include card(300px);
  background-color: #eee9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, box-shadow 0.3s;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.ofertas-productos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 370px) {
  .ofertas-productos {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .descripcion button {
    width: 100%;
  }
}
.ofertas-productos button{
background-color: rgb(169, 245, 220);

}
.ofertas-productos h3{
  text-decoration: line-through;
  font-size: 1rem;
}
form label{
  text-decoration: underline;
  font-size: 1.5rem;
}

.ofertas-productos a{
  text-transform: capitalize;
  
}
.ofertas-productos h2{
  text-transform: capitalize;
}
.nuevos{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  padding: 0.2;
  text-transform: capitalize;
  background-color: violet;
  

}

.anuncio{
   background-color: #d4f1f9;
    color: #333;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #7dd7f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}