@use "../utils/mixins" as *;

.celulares-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.ofertas-productos {
  @include card(300px);
  background-color: #e0dede;
}

.ofertas-productos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 370px) {
  .ofertas-productos {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .descripcion button {
    width: 100%;
  }
}